$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$primaryColor: #25CBD3;
$primaryColorWithOpacity: #25CBD31F;
$primaryColorWithOpacity5: #25CBD30D;
$primaryColor3: #3BD32D;
$primaryColor4: #F0F5FF;
$primaryColor5: #A7FAE9;

$greyColor: #7C7786;
$greyColor1: #4D4C4D;
$greyColor2: #7C7786;
$greyColor3: #DADADA;
$greyColor4: #333333;
$greyColor4WithOpacity: #333333BF;

$error: #D44231;
$muted: #FF3049;

$desktopBreakpoint: 992px;