@import './configs.scss';

.container-upload-image{
    cursor: pointer;

    span{
        display: none;
    }

    &::after{
        content: url('../images/edit_avatar.svg');
        width: 48px;
        height: 48px;
        position: relative;
        left: 80px;
        top: -38px;
        bottom: 0px;
        margin: auto;
    }
}