@import './configs.scss';

.container-objects {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .grid {
        width: 320px;
        height: 320px;
        background-color: white;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
        position: relative;

        .preview {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            z-index: 30;
            background-color: $greyColor4WithOpacity;

            img {
                position: relative;
                margin-bottom: 3%;
                width: 60px;
                cursor: auto;
            }

            button {
                width: 60%;
                background-color: transparent;
                border: 2px solid white;
            }
        }

        img {
            position: absolute;
            cursor: pointer;

            &.selected {
                filter: invert(25%) sepia(40%) saturate(4000%) hue-rotate(709deg) brightness(80%) contrast(104%)
            }

            &.column-start {
                left: 0%;
            }

            &.row-start {
                top: 0%;
            }

            &.floor-start {
                top: 12.5%;
            }

            &.column-zero {
                left: 2%;
            }

            &.column-one {
                left: 14.5%;
            }

            &.column-two {
                left: 27%;
            }

            &.column-three {
                left: 39.5%;
            }

            &.column-four {
                left: 52%;
            }

            &.column-five {
                left: 64.5%;
            }

            &.column-six {
                left: 77%;
            }

            &.column-seven {
                left: 89.5%;
            }

            &.row-zero {
                top: 2%;
            }

            &.row-one {
                top: 14.5%;
            }

            &.row-two {
                top: 27%;
            }

            &.row-three {
                top: 39.5%;
            }

            &.row-four {
                top: 52%;
            }

            &.row-five {
                top: 64.5%;
            }

            &.row-six {
                top: 77%;
            }

            &.row-seven {
                top: 89.5%;
            }
        }


        .line {
            position: absolute;
            height: 0px;
            margin: 0;
            z-index: 10;

            &.row {
                left: 0;
                border-bottom: 0.5px solid $greyColor3;
                height: 0;
                width: 100%;

                &.one {
                    top: 12.5%;
                }

                &.two {
                    top: 25%;
                }

                &.three {
                    top: 37.5%;
                }

                &.four {
                    top: 50%;
                }

                &.five {
                    top: 62.5%;
                }

                &.six {
                    top: 75%;
                }

                &.seven {
                    top: 87.5%;
                }
            }

            &.column {
                top: 0;
                border-left: 0.5px solid $greyColor3;
                width: 0;
                height: 100%;

                &.one {
                    left: 12.5%;
                }

                &.two {
                    left: 25%;
                }

                &.three {
                    left: 37.5%;
                }

                &.four {
                    left: 50%;
                }

                &.five {
                    left: 62.5%;
                }

                &.six {
                    left: 75%;
                }

                &.seven {
                    left: 87.5%;
                }
            }
        }

        .user-avatar{
            position: absolute;
            z-index: 20;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div{
                background-color: $greyColor4;
                border: 1.5px solid $primaryColor4;
                border-radius: 20px;
                margin-bottom: 10px;
                padding: 2px 8px;

                &.muted{
                    border-color: $muted;
                }

                span{
                    font-weight: 500;
                    line-height: 19px;
                    color: $primaryColor4;

                    &.muted{
                        color: $muted;
                    }
                }
            }

            img{
                position: relative;
            }

            &.column-zero {
                left: -2%;
            }

            &.column-one {
                left: 9.5%;
            }

            &.column-two {
                left: 22%;
            }

            &.column-three {
                left: 34%;
            }

            &.column-four {
                left: 46%;
            }

            &.column-five {
                left: 58%;
            }

            &.column-six {
                left: 71%;
            }

            &.column-seven {
                left: 84%;
            }

            &.row-zero {
                top: -10%;
            }

            &.row-one {
                top: 2%;
            }

            &.row-two {
                top: 14%;
            }

            &.row-three {
                top: 26%;
            }

            &.row-four {
                top: 38%;
            }

            &.row-five {
                top: 50%;
            }

            &.row-six {
                top: 62%;
            }

            &.row-seven {
                top: 74%;
            }
        }

        .audio{
            cursor: pointer;
            position: absolute;
            top: 88%;
            left: 88%;
            z-index: 25;

            width: 32px;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 16px;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background-color: $greyColor3;
            margin-bottom: 16px;
            border-radius: 4px;
            cursor: not-allowed;

            &.active {
                cursor: pointer;
                background-color: $primaryColor;
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        flex: 1;
        .grid {
            width: 640px;
            height: 640px;

            .preview {
                img {
                    width: auto;
                }

                button {
                    width: 30%;
                }
            }

            .user-avatar{
                &.column-zero {
                    left: 1.5%;
                }
    
                &.column-one {
                    left: 14.5%;
                }
    
                &.column-two {
                    left: 27%;
                }
    
                &.column-three {
                    left: 40%;
                }
    
                &.column-four {
                    left: 52.5%;
                }
    
                &.column-five {
                    left: 65%;
                }
    
                &.column-six {
                    left: 77.5%;
                }
    
                &.column-seven {
                    left: 90%;
                }
    
                &.row-zero {
                    top: -0%;
                }
    
                &.row-one {
                    top: 6%;
                }
    
                &.row-two {
                    top: 18%;
                }
    
                &.row-three {
                    top: 30%;
                }
    
                &.row-four {
                    top: 43%;
                }
    
                &.row-five {
                    top: 55%;
                }
    
                &.row-six {
                    top: 67%;
                }
    
                &.row-seven {
                    top: 80%;
                }
            }

            .audio{
                top: 90%;
                left: 90%;
                width: 48px;
            }
        }
    }
}