@import './configs.scss';

.container-principal {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;

    .container-meet {
        align-self: stretch;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;

        .actions {
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                cursor: pointer;
                font-size: 16px;
                color: $primaryColor;
                text-decoration: underline;
                margin-right: 20px;
            }

            button {
                margin: 0;
                width: 150px;

                &.disabled {
                    cursor: not-allowed;
                    background-color: $greyColor3;
                }
            }
        }

        .input {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 5px;

            border: none;
            border-bottom: 1px solid $greyColor2;

            &.focus {
                border-color: $primaryColor;
            }

            img {
                width: 20px;
                margin-right: 10px;
            }

            input {
                display: flex;
                align-items: center;
                width: 100%;
                font-size: 14px;
            }
        }

        button {
            width: 80%;
        }

        .error {
            text-align: center;
            color: $error;
            margin-top: 20px;
            margin-bottom: -20px;
        }
    }

    .container-room {
        align-self: stretch;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        background-color: $primaryColorWithOpacity;
        background-image: url('../images/background.svg');
        background-size: cover;

        .empty {
            width: 100%;
            height: 90vw;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);

            img {
                width: 80%;
            }

            p {
                font-weight: 600;
                line-height: 40px;
                color: $greyColor;
            }
        }

        .resume {
            margin: 16px;

            span {
                font-weight: 600;
                line-height: 17px;
                font-size: 12px;
                color: $greyColor;
            }

            p {
                margin: 0;
                font-weight: 700;
                line-height: 22px;
                font-size: 16px;
            }

            img {
                margin-left: 4px;
            }
        }

        .movement{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            
            .button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 40px;
                background-color: $primaryColor;
                margin: 2px;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
            }

            .line {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        .container-meet {
            width: 25%;
            min-width: 350px;
        }

        .container-room {
            background-color: transparent;
            background-image: none; 
            background-size: none;

            flex-direction: row;
            padding: 20px;

            .empty{
                width: 40%;
                height: 40vw;
            }

            .resume{
                display: flex;
                flex-direction: column;
                height: 100%;
                align-items: flex-start;
                justify-content: flex-end;
                margin: 0;
                padding-bottom: 20px;

                div{
                    cursor: pointer;
                }
            }
        }

        .container-grid-add {
            display: flex;
            flex: 1;
            align-items: flex-start;
            justify-content: center;

            .grid {
                width: 640px;
                height: 640px;
                background-color: white;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
                position: relative;

                .line {
                    position: absolute;
                    height: 0px;
                    margin: 0;
                    z-index: 10;

                    &.row {
                        left: 0;
                        border-bottom: 0.5px solid $primaryColor;
                        height: 0;
                        width: 100%;

                        &.one {
                            top: 12.5%;
                        }

                        &.two {
                            top: 25%;
                        }

                        &.three {
                            top: 37.5%;
                        }

                        &.four {
                            top: 50%;
                        }

                        &.five {
                            top: 62.5%;
                        }

                        &.six {
                            top: 75%;
                        }

                        &.seven {
                            top: 87.5%;
                        }
                    }

                    &.column {
                        top: 0;
                        border-left: 0.5px solid $primaryColor;
                        width: 0;
                        height: 100%;

                        &.one {
                            left: 12.5%;
                        }

                        &.two {
                            left: 25%;
                        }

                        &.three {
                            left: 37.5%;
                        }

                        &.four {
                            left: 50%;
                        }

                        &.five {
                            left: 62.5%;
                        }

                        &.six {
                            left: 75%;
                        }

                        &.seven {
                            left: 87.5%;
                        }
                    }
                }
            }

            .actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 16px;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    background-color: $greyColor3;
                    margin-bottom: 16px;
                    border-radius: 4px;
                }
            }
        }
    }
}